body {
    margin: 0;

}

#map {
    height: 65vh;
    width: 100%;
}

.map-container {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

}

#showMe {
    background-color: rgb(171, 154, 188);

}

#showMe:hover {
    background-color: rgb(192, 126, 126);
    padding: 10px;
    font-weight: 500;
}

footer {
    background-color: rgb(171, 154, 188);
}